
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using Data.DB
@using Data.Utils
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/css/bootstrap-select.css" />
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.bundle.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/js/bootstrap-select.min.js"></script>


<div class="col-md-12 mt-5">
    <div class="breadcrumb-holder">
        <div class="row mb-3 mt-3">
            <div class="col-md-10 col-sm-10 col-9 text-dark px-0 mt-3">
                <h4><i class="fa fa-plus"></i> Thêm voucher khách hàng </h4>
            </div>
        </div>
    </div>
</div>
<form id="form_create_item" name="form_create_item" class="">
    <div class="row col-md-11 col-sm-11 col-12 bg-white radius-form box-shadow-form mb-5" style="margin:auto">
        <!--Left content-->
        <div class="col-lg-4 col-md-4">
            <div class="row ">
                <div class="col-md-4 col-4 mt-3">
                    <p class="mb-0 color-require mt-2"><label class="text-dark">Mã Voucher</label> *</p>
                </div>
                <div class="col-md-8 col-8 mt-3">
                    <input type="text" class="form-control" id="codeVoucherCustomerCreate" maxlength="50" name="_code" placeholder="Mã Voucher">
                </div>
            </div>
            <div class="row ">
                <div class="col-md-4 col-4 mt-3">
                    <p class="mb-0 color-require mt-2"><label class="text-dark">Tên Voucher</label> *</p>
                </div>
                <div class="col-md-8 col-8 mt-3">
                    <input type="text" class="form-control" id="nameVoucherCustomerCreate" maxlength="255" name="_name" placeholder="Tên Voucher">
                </div>
            </div>
            <div class="row ">
                <div class="col-md-4 col-4 mt-3">
                    <p class="mb-0 color-require mt-2"><label class="text-dark">Số lượng</label> *</p>
                </div>
                <div class="col-md-8 col-8 mt-3">
                    <input onkeypress='validateSL(event)' type="text" class="form-control number" id="quantityVoucherCustomerCreate" name="_quantity" placeholder="Số lượng">
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-4 mt-3">
                    <p class="mb-0 color-require mt-2"><label class="text-dark">Loại mã</label> *</p>
                </div>
                <div class="col-md-8 col-8 mt-3">
                    <select class="form-control" id="slTypeDiscountCreate" onchange="enableTypeMoney(this.value, 'checkType');">
                        <option>Loại mã</option>
                        <option value="@SystemParam.COUPON_DISCOUNT_MONEY">Theo tiền</option>
                        <option value="@SystemParam.COUPON_DISCOUNT_PERCENT">Theo %</option>
                    </select>
                </div>
            </div>

        </div>
        <div class="col-lg-4 col-md-4">
            <div class="row ">
                <div class="col-md-4 col-4 mt-3">
                    <p class="mb-0 color-require mt-2"><label class="text-dark">Mức giảm</label> *</p>
                </div>
                <div class="col-md-6 col-6 mt-3">
                    <input type="text" class="form-control number" id="discountCreate" name="_discountCreate" placeholder="Mức giảm">
                </div>
                <a id="textMoneyA"></a>
                <div class="col-md-2 col-2 mt-4" id="textMoneyB">
                    <a>VNĐ/%</a>
                </div>
            </div>
            @*<div class="row">
                    <div class="col-md-4 col-4 mt-3">
                        <p class="mb-0 color-require mt-2"><label class="text-dark">Trạng thái</label> *</p>
                    </div>
                    <div class="col-md-8 col-8 mt-3">
                        <select class="form-control" id="slStatusVoucherCustomerCreate">
                            <option>Trạng thái</option>
                            <option value="@SystemParam.STATUS_NO_ACTIVE">Ngưng hoạt động</option>
                            <option value="@SystemParam.STATUS_ACTIVE">Hoạt động</option>
                        </select>
                    </div>
                </div>*@
            <div class="row">
                <div class="col-lg-12 col-md-12 row" id="add_logo_place">
                    <div class="col-md-4 col-sm-4 col-12 mt-3">
                        <p class="mb-0 color-require"><label class="text-dark">Hình ảnh</label>*</p>
                    </div>
                    <div class="col-md-8 col-sm-8 col-12 mt-3 article" id="AddLogoPlace">
                        <img id="AddImgLogoPlace" src="/Uploads/files/add_img.png" class="col-md-12 px-0 contentImg" alt="your image" style="width: 100%" />
                    </div>
                </div>
            </div>

        </div>
        <div class="col-lg-4 col-md-4">
            <div class="row">
                <div class="col-md-4 col-4 mt-3">
                    <p class="mb-0 color-require mt-2"><label class="text-dark">Hạng</label> *</p>
                </div>
                <div class="col-md-8 col-8 mt-3">
                    <select id="testRank" class="selectpicker" multiple data-live-search="true" title="Hạng khách hàng">
                        @{
                            foreach (var p in (List<Ranking>)ViewBag.Rank)
                            {
                                <option value="@p.ID">@p.RankName</option>
                            }
                        }
                    </select>
                </div>
            </div>
        </div>
        <div class="row col-lg-12 col-md-12 col-12 mt-2">
            <h5><u>Thời gian áp dụng</u></h5>
        </div>
        <div class="row col-lg-12 col-md-12 col-12 mt-2">
            <div class="row col-lg-6 col-md-6 col-12 mt-2">
                <div class="col-lg-3 col-md-3 col-12 mt-3">
                    <p class="mb-0 color-require mt-2"><label class="text-dark">Thời gian bắt đầu</label>*</p>
                </div>
                <div class="col-lg-9 col-md-9 col-12 mt-2">
                    <input type="date" data-date-format="dd/MM/yyyy" id="fromDateVoucherCreate" class="form-control" placeholder="Từ ngày" />
                </div>
            </div>
            <div class="row col-lg-6 col-md-6 col-12 mt-2">
                <div class="col-lg-3 col-md-3 col-12 mt-3">
                    <p class="mb-0 color-require mt-2"><label class="text-dark">Thời gian kết thức</label>*</p>
                </div>
                <div class="col-lg-9 col-md-9 col-12 mt-2">
                    <input type="date" data-date-format="dd/MM/yyyy" id="toDateVoucherCreate" class="form-control" placeholder="Đến ngày" />
                </div>
            </div>
        </div>


        <div class="row col-lg-12 col-md-12 col-12 mt-2">
            <div class="col-md-12 col-sm-12 col-12 mt-1">
                <p class=" color-require"><label class="text-dark">Mô tả</label></p>
            </div>
            <div class="col-md-12 col-sm-12 col-12 mt-1">
                <textarea name="Note" class="form-control mb-3" id="NoteCreateVoucherCustomer"></textarea>
            </div>
        </div>
        <div class="row col-12 mb-3 mt-3">
            <div class="col-md-4 offset-md-8 text-right">
                <button type="button" class="btn btn-outline-secondary" onclick="window.location='/VoucherCustomer/Index'">Đóng</button>
                <button type="button" class="btn btn-primary px-3 ml-3" onclick="CreateVoucherCustomer()">Lưu</button>
            </div>
        </div>
    </div>
</form>



<script type="text/javascript">

    $(document).ready(function () {
        CKEDITOR.replace('NoteCreateVoucherCustomer', {
            height: 300,
            disableObjectResizing: true
        });
        $("#add_logo_place").off('click').on('click', function (e) {
            e.preventDefault();
            var fider = new CKFinder();

            fider.selectActionFunction = function (fileUrl) {
                $("#AddImgLogoPlace ").remove();
                $("#AddLogoPlace").append('<img id="AddImgLogoPlace" src="' + fileUrl + '" class="col-md-12 px-0 border-dekko contentImg" alt="your image" />');
                var url = window.location.origin + fileUrl;
                $('#txtAddLogoPlace').val(url);
            }
            fider.popup();
        });

        $('#testRank').selectpicker();
        $('.number').keyup(function () {
            $val = cms_decode_currency_format($(this).val());
            $(this).val(cms_encode_currency_format($val));
        });
        function cms_encode_currency_format(num) {
            return num.toString().replace(/(\d)(?=(\d{3})+(?!\d))/g, '$1,');
        }

        function cms_decode_currency_format(obs) {
            if (obs == '')
                return 0;
            else
                return parseInt(obs.replace(/,/g, ''));
        }
    });

    function validateSL(evt) {
        var theEvent = evt || window.event;

        // Handle paste
        if (theEvent.type === 'paste') {
            key = event.clipboardData.getData('text/plain');
        } else {
            // Handle key press
            var key = theEvent.keyCode || theEvent.which;
            key = String.fromCharCode(key);
        }
        var regex = /[0-9]|\./;
        if (!regex.test(key)) {
            theEvent.returnValue = false;
            if (theEvent.preventDefault) theEvent.preventDefault();
        }
    }
</script>
