@using Data.Model.APIWeb
@using PagedList.Mvc
@using Data.Utils
@model  PagedList.IPagedList<ListNewsWebOutputModel>
<table class="table table-light table-bordered table-hover table-responsive-sm table-responsive-md">
    <thead class="text-center text-white bg-thead">
        <tr>
            <th>STT</th>
            <th>Tiêu đề</th>
            <th>Loại tin tức</th>
            <th>Lượt thích</th>
            <th>Bình luận</th>
            <th>Trạng thái</th>
            <th>T.gian chờ đăng</th>
            <th>Tác giả</th>
            <th class="widthCreatedDate">Ngày tạo</th>
            <th></th>
        </tr>
    </thead>
   <tbody class="text-center">
        @{
            if (Model.Count() <= 0)
            {
                <tr>
                    <td colspan="10">Không có dữ liệu.</td>
                </tr>
            }
            else
            {
                int stt = ((Model.PageNumber - 1) * Model.PageSize) + 1;
                foreach (var data in Model)
                {
                    <tr>
                        <td>@stt</td>
                        <td>@data.Title</td>
                        @{
                            if (data.Type == SystemParam.NEWS_TYPE_NEWS)
                            {
                                <td>@SystemParam.NEWS_TYPE_NEWS_STRING</td>
                            }
                            else if (data.Type == SystemParam.NEWS_TYPE_PROMOTION)
                            {
                                <td>@SystemParam.NEWS_TYPE_PROMOTION_STRING</td>
                            }
                            else
                            {
                                <td>Banner</td>
                            }
                        }
                        <td>@data.CountLike</td>
                        <td>@data.CountComment</td>
                         @{
                            if (data.Status == SystemParam.STATUS_NEWS_ACTIVE)
                            {
                                <td>Bài đăng</td>
                            }
                            else
                            {
                                <td>Bản nháp</td>
                            }
                        }
                        <td>@(data.timePush.HasValue ? data.timePush.Value.ToString(SystemParam.CONVERT_DATETIME_HAVE_HOUR) : "")</td>
                        <td>@data.CreateUserName</td>

                        <td>@data.CreateDateStr</td>
                        <td class="width2btn">
                            <a data-toggle="tooltip" data-placement="top" title="Chỉnh sửa." class="cursor-pointer" onclick="window.location ='/News/UpdateNews?id=@data.ID'">
                                <i class="btnEdit fa fa-fw fa-edit"></i>
                            </a>
                            <a data-toggle="tooltip" data-placement="top" title="Xóa bài viết." class="cursor-pointer" onclick="deleteNews(@data.ID);">
                                <i class="btnDelete fa fa-fw fa-trash-o"></i>
                            </a>
                        </td>
                    </tr>
                    stt++;
                }
            }
        }
    </tbody>
</table>
<input type="hidden" id="txtPageCurrent" value="@ViewBag.PageCurrentNews" class="txtPageCurrent" />
<div class="col-md-12">
    <div class="row float-right">
        @*phân trang*@
        @Html.PagedListPager(Model, Page => Url.Action("Search", new { Page, Title = ViewBag.TitleNews, CreateUserID = ViewBag.CreateUserIDNews, Type = ViewBag.TypeNews, Status = ViewBag.StatusNews, FromDate = ViewBag.FromDateNews, ToDate = ViewBag.ToDateNews }),
     PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(new AjaxOptions()
     {
         HttpMethod = "GET",
         UpdateTargetId = "tableNews"
     })
     )
    </div>
</div>