@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using Data.Model.APIWeb
@using Data.Utils
@model ListNewsWebOutputModel
<div class="mt-5">
    <div class="breadcrumb-holder">
        <div class="row mt-5">
            <div class="col-md-10 col-sm-12 col-12 text-dark mt-2">
                <h4><i class="fa fa-fw fa-newspaper-o"></i> Tin tức</h4>
            </div>
            <div class="col-md-2 col-sm-12 mt-2">
                <a class="btn btn-search btn-block" href="/News/CreateNews"><i class="fa fa-fw fa-plus"></i> Thêm bài</a>
            </div>
        </div>
    </div>
</div>
<div class="row ">
    <div class="col-md-3 col-sm-12 mt-2">
        <input type="text" class="form-control" id="txtTitle" placeholder="Nhập tiêu đề" onkeyup="searchNews()"/>
    </div>
    <div class="col-md-3 col-sm-12 mt-2">
        <select class="form-control" id="cbbStatusNews" onclick="searchNews()">
            <option selected>Tất cả trạng thái</option>
            <option value="@SystemParam.STATUS_NEWS_DRAFT">Bản nháp</option>
            <option value="@SystemParam.STATUS_NEWS_ACTIVE">Bài đăng</option>
        </select>
    </div>
    <div class="col-md-3 col-sm-12 mt-2">
        <input type="text" class="form-control relative-icon-calendar date" onchange="searchNews();" id="txtNewsFromDate" placeholder="Từ ngày" />
        <i class="fa fa-calendar absolute-icon-calendar"></i>
    </div>
    <div class="col-md-3 col-sm-12 mt-2">
        <input type="text" class="form-control relative-icon-calendar date"onchange="searchNews();" id="txtNewsToDate" placeholder="Đến ngày" />
        <i class="fa fa-calendar absolute-icon-calendar"></i>
    </div>
</div>
<div class="row ">
    <div class="col-md-2 col-sm-12 offset-md-10 mt-2">
        <button class="btn btn-search btn-block" onclick="searchNews()"><i class="fa fa-search"></i> Tìm kiếm</button>
    </div>
   
</div>

<!--<div class="row mb-2">
    <div class="col-md-3 offset-md-0 col-sm-5 mt-1">
        <select class="form-control" id="cbbCreateUser">
            <optgroup label="Tác giả">
                @{
                    foreach (var author in ViewBag.ListAuthor)
                    {
                        <option value="@author.ID">@author.Name</option>
                    }
                }
                <option selected>Tất cả tác giả</option>
            </optgroup>
        </select>
    </div>
    <div class="col-md-3 offset-md-0 col-sm-4 mt-1">
        <select class="form-control" id="cbbTypeNews">
            <optgroup label="Danh mục">-->
                @*<option value="@SystemParam.TYPE_ADS">@SystemParam.TYPE_ADS_STRING</option>
        <option value="@SystemParam.TYPE_EVENT">@SystemParam.TYPE_EVENT_STRING</option>*@
                <!--<option value="1">Tin tức</option>
                <option value="2">Khuyến mãi </option>
                <option value="3">Bảo hành</option>
                <option value="4">Quảng cáo</option>
                <option selected>Tất cả danh mục</option>
            </optgroup>
        </select>
    </div>
    <div class="col-md-3 offset-md-0 col-sm-4 mt-1">
        <select class="form-control" id="cbbStatusNews">
            <optgroup label="Trạng thái">
                <option value="@SystemParam.STATUS_NEWS_ACTIVE">Bài đăng</option>
                <option value="@SystemParam.STATUS_NEWS_DRAFT">Bản nháp</option>
                <option selected>Tất cả trạng thái</option>
            </optgroup>
        </select>
    </div>
    <div class="col-md-2 offset-md-0 col-sm-3 offset-sm-0 mt-1 col-4 offset-4">
        <button class="btn btn-primary" onclick="searchNews()"><i class="fa fa-search"></i> Tìm kiếm</button>
    </div>
</div>-->

<div class="row">
    <div class="col-md-12 mt-2" id="tableNews">
        @{   
            Html.RenderAction("Search", "News", new { Page = 1, Title = ""});
        }
    </div>
</div>
<input type="hidden" id="txtPageCurrentNews" value="@ViewBag.PageCurrentNews" />
<script type="text/javascript">
    $(document).ready(function () {
    //    var page = $("#txtPageCurrentNews").val();
    //    if (page == null) {
    //        page = 1;
    //    }
    //    $.ajax({
    //        url: '/News/Search',
    //        data: {
    //            Page: page,
    //            Title: $("#txtTitle").val(),
    //            CreateUserID: $("#cbbCreateUser").val(),
    //            Type: $("#cbbTypeNews").val(),
    //            Status: $("#cbbStatusNews").val(),
    //            FromDate: $("#txtNewsFromDate").val(),
    //            ToDate: $("#txtNewsToDate").val()
    //        },
    //        type: 'POST',
    //        success: function (response) {
    //            $("#tableNews").html(response);
    //        }
    //    });

    })
</script>
<script>
    $('#txtTitle').keypress(function (e) {
        if (e.which == 13) {  //Enter is key 13
            searchNews();
        }
    });
</script>