@using Data.DB;
@using Data.Model.APIWeb
@using Data.Utils
@using PagedList.Mvc
@model PagedList.IPagedList<ListItemWebModel>

<table class="table table-light table-bordered table-hover table-responsive-sm table-responsive-md">
    <thead class="text-center text-white bg-thead">
        <tr>
            <th>STT</th>
            <th>Mã sản phẩm</th>
            <th>Tên sản phẩm</th>
            <th>Danh mục</th>
            <th>Giá</th>
            <th>Sản phẩm bán chạy</th>
            <th>Trạng thái</th>
            <th class="widthCreatedDate">Ngày tạo</th>
            <th></th>
        </tr>
    </thead>
    <tbody ">
        @{
            if (Model.Count <= 0)
            {
                <tr class="text-center">
                    <td colspan="10">Không có dữ liệu.</td>
                </tr>
            }
            else
            {
                int stt = ((Model.PageNumber - 1) * Model.PageSize) + 1;
                foreach (var data in Model)
                {
                    <tr>
                        <td class="text-center">@stt</td>
                        <td>@data.ItemCode </td>
                        <td>@data.ItemName</td>
                        <td>@data.Category</td>
                        <td>@String.Format("{0:n0}", data.Price) VND</td>
                        @{
                            switch (data.IsHot)
                            {
                                case SystemParam.ISHOT_ACTIVE:
                                    <td style="color: #000000" class="text-center">Có</td>
                                    break;
                                case SystemParam.UN_ISHOT_ACTIVE:
                                    <td style="color: #97271C" class="text-center">Không</td>
                                    break;
                                default:
                                    break;

                            }
                        }
                        @{
                            switch (data.ItemStatus)
                            {
                                case SystemParam.ACTIVE:
                                    <td style="color: #000000" class="text-center">Đang hoạt động</td>
                                    break;
                                case SystemParam.ACTIVE_FALSE:
                                    <td style="color: #97271C" class="text-center">Ngưng hoạt động</td>
                                    break;
                                default:
                                    break;

                            }
                        }
                        <td>@data.GetStringCreateDate</td>
                        <td class="width2btn">
                            <a data-toggle="tooltip" data-placement="top" title="Sửa sản phẩm" class="cursor-pointer" onclick="LoadItem(@data.ID)">
                                <i class="btnEdit fa fa-fw fa-edit"></i>
                            </a>
                            <a data-toggle="tooltip" data-placement="top" title="Xóa sản phẩm." class="cursor-pointer" onclick="DeleteItem(@data.ID)">
                                <i class="btnDelete fa fa-fw fa-trash-o"></i>
                            </a>
                        </td>
                    </tr>
                    stt++;
                }
            }
        }
    </tbody>
</table>

<div class="col-md-12">
    <div class="row float-right">
        @*phân trang*@
        @Html.PagedListPager(Model, Page => Url.Action("SearchWeb", new { Page, fromDate = ViewBag.fromDate, toDate = ViewBag.toDate, ItemName = ViewBag.ItemName, category = ViewBag.Category, Status = ViewBag.Status, IsHot = ViewBag.IsHot }),
     PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(new AjaxOptions()
     {
         HttpMethod = "GET",
         UpdateTargetId = "tableItem"
     })
     )
    </div>
</div>