@using Data.DB
@using Data.Model.APIWeb
@using PagedList.Mvc
@using PagedList
@using Data.Utils
@model IPagedList<ListOrderWebModel>

<div class="col-md-12 col-sm-12 col-12 mt-3">
    <table class="table table-bordered table-hover table-light table-responsive-md table-responsive-sm">
        <thead class="text-center">
            <tr>
                <th>STT</th>
                <th>Mã đơn</th>
                <th>Người mua</th>
                <th>Số điện thoại</th>
                <th>Số lượng</th>
                <th>Tông tiền</th>
                <th>Trạng thái</th>
                <th>Ngày tạo</th>
            </tr>
        </thead>
        <tbody class="text-center" >
            @{
                if (Model.Count() <= 0)
                {
                    <tr>
                        <td colspan="10">Không có dữ liệu.</td>
                    </tr>
                }
                else
                {
                    int stt = ((Model.PageNumber - 1) * Model.PageSize) + 1;
                    foreach (var data in Model)
                    {
                        <tr>
                            <td>@stt</td>
                            <td>@data.Code</td>
                            <td>@data.BuyerName</td>
                            <td>@data.BuyerPhone</td>
                            <td>@data.QTY</td>
                            <td>@String.Format("{0:0,0 vnđ}", @data.TotalPrice)</td>
                            @{
                                if (@data.Status == SystemParam.STATUS_ORDER_PENDING)
                                {
                                    <td class="text-warning">Chờ</td>
                                }
                                else if (@data.Status == SystemParam.STATUS_ORDER_CONFIRM)
                                {
                                    <td class="text-primary">Xác Nhận</td>
                                }
                                else if (@data.Status == SystemParam.STATUS_ORDER_PAID)
                                {
                                    <td class="text-success">Đã Thanh Toán</td>
                                }
                                else if (@data.Status == SystemParam.STATUS_ORDER_CANCEL)
                                {
                                    <td class="text-danger">Hủy</td>
                                }
                            }
                            <td>@data.CreateDate.ToString("dd/MM/yyyy")</td>
                        </tr>
                        stt++;
                    }
                }
            }
        </tbody>
    </table>
</div>





<div class="col-md-12">
    <div class="row float-right mr-1">
        @*phân trang*@
        @Html.PagedListPager(
            Model,
            page => Url.Action("searchOrderHistory", "Customer", new { Page = page, cusID = ViewBag.cusID, fromDate = ViewBag.FromDateOH, toDate = ViewBag.ToDateOH }),
            PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(new AjaxOptions() { HttpMethod = "GET", UpdateTargetId = "ListOrderHistory" })
            )
    </div>
</div>
