
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using Data.DB
@using Data.Utils

@*<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>*@
<script src="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.6/js/standalone/selectize.min.js" integrity="sha256-+C0A5Ilqmu4QcSPxrlGpaZxJ04VjsRjKu+G82kl5UJk=" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.6/css/selectize.bootstrap3.min.css" integrity="sha256-ze/OEYGcFbPRmvCnrSeKbRTtjG4vGLHXgOqsyLFTRjg=" crossorigin="anonymous" />
<div class="mt-5" id="View">
    <div class="row">
        <div class="col-md-12">
            <div class=" text-dark">
                <h4><i class="fa fa-fw fa-users"></i> Quản lý khách hàng</h4>
            </div>
            @*<div class="col-md-2 col-sm-3 col-4 text-right px-0 mt-3">
                    <button class="btn width-btn-create-batch btn-dekko" id="btnAddPoint" data-toggle="modal" data-target="#mdAddPoint"><i class="fa fa-fw fa-plus"></i> Thêm điểm</button>
                </div>*@
        </div>
    </div>


    <div class="row">
        <div class="col-md-3 col-sm-6 col-12 mt-2 mt-sm-2">
            <input type="text" class="form-control" id="txtPhone" onkeyup="searchCustomer();" placeholder="Nhập tên hoặc số điện thoại " />
        </div>
        <div class="col-md-3 col-sm-6 col-12 mt-2 mt-sm-2">
            <select class="form-control" id="cmbRankCus" onchange="searchCustomer()">
                @{
                    <option>Hạng khách hàng</option>
                    foreach (var p in (List<Ranking>)ViewBag.rank)
                    {
                        if (@p.ID.Equals(1))
                        {
                            <option value="@p.ID">@p.RankName</option>
                        }
                        else
                        {
                            <option value="@p.ID">@p.RankName</option>
                        }
                    }
                }
            </select>
        </div>
        <div class="col-md-3 col-sm-6 col-12 mt-2 mt-sm-2">
            <input type="date"  id="dtFromdateIndex" class="form-control" onchange="searchCustomer();" placeholder="Từ ngày" />
        </div>
        <div class="col-md-3 col-sm-6 col-12 mt-2 mt-sm-2">
            <input type="date"  id="dtTodateIndex" class="form-control" onchange="searchCustomer();" placeholder="Đến ngày" />
        </div>
        <!--<div class="col-md-3 offset-md-0 col-sm-6 mt-3">
            <select class="form-control" id="slProvince"--> @*onchange="loadListDistrict(this.value)"*@ <!--onchange="searchCustomer()">
                @{
                    <option>Tất cả Tỉnh/Thành phố</option>
                    foreach (var p in (List<Province>)ViewBag.listCity)
                    {
                        if (@p.Code.Equals(1))
                        {
                            <option value="@p.Code">@p.Name</option>
                        }
                        else
                        {
                            <option value="@p.Code">@p.Name</option>
                        }
                    }
                }
            </select>
        </div>-->
        <div class="col-md-3 offset-md-0 col-sm-6 mt-3">
            <select class="form-control" onchange="searchCustomer();" id="slStatus">
                <option>Trạng thái</option>
                <option value="@SystemParam.STATUS_NO_ACTIVE">Ngưng hoạt động</option>
                <option value="@SystemParam.STATUS_ACTIVE">Hoạt động</option>
            </select>
        </div>
        @*<div class="col-md-3 offset-md-0 col-sm-6 mt-1 cursor-pointer" id="ListDistrict">
                @{ Html.RenderAction("LoadDistrict", "Customer", new { ProvinceID = 1 });}
            </div>*@
    </div>

    @*<div class="row ">
            <div class="col-md-2 col-sm-12 offset-md-10 mt-2 mt-sm-2">
                <button class="btn btn-search btn-block" id="btnSearch" onclick="searchCustomer()"><i class="fa fa-search"></i> Tìm kiếm</button>
            </div>
        </div>*@

    <div class="row">
        <div class="col-md-12 mt-2 mt-sm-2" id="ListCustomer">
            @{
                Html.RenderAction("Search", "Customer", new { Page = 1, Phone = "", FromDate = ViewBag.FromDateCus, ToDate = ViewBag.ToDateCus, Rank = ViewBag.Rank, Status = ViewBag.Status });
            }
        </div>
    </div>


    <!-- start modal -->
    <div class="modal fade" id="mdAddPoint" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Cộng điểm khách hàng</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form id="frmAddPoint" method="post">
                    <div class="modal-body" id="">

                        <div class="row pb-3">
                            <div class="col-md-12 col-sm-12 col-12">
                                <label>SĐT Khách hàng</label>
                                <input type="text" class="form-control" name="phoneNum" id="txtPhoneNumber" placeholder="Nhập số điện thoại" />
                                <input type="hidden" class="form-control" name="" id="txtID" />
                            </div>
                        </div>
                        <div class="row pb-3">
                            <div class="col-md-12 col-sm-12 col-12">
                                <label>Số điểm</label>
                                <input type="text" class="form-control number" name="pointNum" id="txtPoint" placeholder="Nhập số điểm muốn thêm">
                            </div>
                        </div>
                        <div class="row pb-3">
                            <div class="col-md-12 col-sm-12 col-12">
                                <label>Lý do</label>
                                <textarea class="form-control" id="txtNote" name="Note" placeholder="Nhập lý do thêm điểm"></textarea>
                            </div>
                        </div>
                        <div class="modal-footer row">
                            <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Đóng</button>
                            <button type="submit" id="btnSaveAdd" class="btn btn-primary">Lưu</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        //$("select").select2();
        $('select').selectize({
            sortField: 'text'
        });
        $("#cmbRoleCus").on('change', function (e) {
            $("#btnSearch").click();
        });
        $("#cusRanking").on('change', function (e) {
            $("#btnSearch").click();
        });

    })
    $("#txtPhone").keypress(function (e) {
        var key = e.which;
        if (key == 13) {
            $("#btnSearch").click();
        }
    });
</script>
<!-- end modal -->
